<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>密碼產生器</title>
</head>

<body>
    <div class="hero is-fullheight is-dark">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-size-2 has-text-centered has-text-danger">

                        <h1>密碼產生器</h1>


                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="columns is-size-6">


                        <form action="{% url 'password'%}" class="box">
                            <div class="field">

                                <label for="length">密碼長度</label>

                                <select name="length" id="length">
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8" selected>8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <label for="input-length">自定義長度</label>

                            <div class="field">
                                <input type="number" name="input-length" id="input-length">
                                <p>
                                    <input type="checkbox" name="uppercase" id="uppercase">大寫
                                    <input type="checkbox" name="numbers" id="numbers">數字
                                    <input type="checkbox" name="special" id="special">特殊
                                </p>
                            </div>
                            <input class="button is-link" type="submit" value="產生">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>